# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6484d01ee8385c6c8f30ce1570ae446d49baa70d51d5859625411e5f671d7e41c71bf476997493a273d8958a69c21a85dbb2880d52cc042c4295197cfcbafbbb

test:
  secret_key_base: 818452b574e58b466054655a7e61fc23cecddec0f253e11c023ce51d3e075458ab0b21b4be7887fd9eb5d354bd53deb5b192b98df55a4f0bcd4ff6949f993211

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
